<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116797597909-pcj475ioho2kj068c91rtks0hnkcou86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116797597909-pcj475ioho2kj068c91rtks0hnkcou86</string>
	<key>API_KEY</key>
	<string>AIzaSyBF1l4_OVBfRhlFzf4PPRL6b-CNY-AOF3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>116797597909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devbourheeem.hanouty</string>
	<key>PROJECT_ID</key>
	<string>hanouty-6a822</string>
	<key>STORAGE_BUCKET</key>
	<string>hanouty-6a822.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116797597909:ios:8c6ce67c760ad3b0e9da5c</string>
</dict>
</plist>